@import "@fortawesome/fontawesome-free/css/all.min.css";

@tailwind base;
@tailwind components;
@tailwind utilities;



html {
  scroll-behavior: smooth;
  scroll-padding-top: 70px;
}

* {
  margin: 0;
  padding: 0;
}


.faq-image {
  width: 40%;
  object-fit: cover;
  height: auto;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 10px;
}
